include jade/variables

doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Wireframe Demo
    link(href='http://fonts.googleapis.com/css?family=Open+Sans',           rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oswald:100,400,700',  rel='stylesheet', type='text/css')
    link(href=pureMinCss, rel='stylesheet')
    link(href=pureGridCss, rel='stylesheet')
    link(href=styleCss, rel='stylesheet')
body
    app
        header
            navigation
        .pure-g
            list.pure-u-1.pure-u-md-1-3
            list.pure-u-1.pure-u-md-2-3
    script(type='text/javascript', src=bundleJs)
