- version       = '1';
- urlBase       = '';
- pureMinCss    = urlBase + '/vendor/pure/pure-min.css';
- pureGridCss   = urlBase + '/vendor/pure/grids-responsive-min.css';
- styleCss      = urlBase + '/style.css?' + version;
- bundleJs      = urlBase + '/bundle.js?' + version;